<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let column of settings">{{ column.title }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of data">
      <td *ngFor="let column of settings">{{ list[column.field] }}</td>
    </tr>
  </tbody>
</table>
<div class="pagination-container">
    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#" class="active">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
    </div>
</div>
