<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let column of settings">{{ column.title }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of tableData.data">
      <td *ngFor="let column of settings">{{ list[column.field] }}</td>
    </tr>
  </tbody>
</table>
<div class="pagination-container">
  <div class="pagination">
    <a href="#" (click)="getCurrentPage(1, 'first')">&laquo;</a>
    <a
      href="#"
      (click)="
        getCurrentPage(currentPage - 1 == 0 ? 1 : currentPage - 1, 'stepDown')
      "
      >&lsaquo;</a
    >
    <a
      *ngFor="
        let pageNo of pageinationCountList
          | slice: sliceCountStart:sliceCountEnd
      "
      [ngClass]="{ active: currentPage == pageNo }"
      (click)="getCurrentPage(pageNo)"
      >{{ pageNo }}</a
    >
    <a>...</a>
    <a
      [ngClass]="{ active: currentPage == pageinationCount }"
      (click)="getCurrentPage(pageNo)"
      >{{ pageinationCount }}</a
    >
    <a
      href="#"
      (click)="
        getCurrentPage(
          currentPage + 1 == pageinationCount
            ? pageinationCount
            : currentPage + 1,
          'stepUp'
        )
      "
      >&rsaquo;</a
    >
    <a href="#" (click)="getCurrentPage(pageinationCount, 'last')">&raquo;</a>
  </div>
</div>
