<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let column of settings">{{ column.title }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of tableData.data; let i = index">
      <td *ngFor="let column of settings">
        <ng-container *ngIf="column.type == 'readonly'">
          {{ list[column.field] }}
        </ng-container>
        <ng-container *ngIf="column.type == 'checkbox'">
          <input
            type="checkbox"
            name="{{ column.field }}-{{ i }}"
            [checked]="list[column.field]"
            (change)="checkboxEmit($event, list, column.field)"
          />
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
<div class="pagination-container">
  <div class="pagination">
    <a (click)="getCurrentPage(1, 'first')">&laquo;</a>
    <a
      (click)="
        getCurrentPage(currentPage - 1 == 0 ? 1 : currentPage - 1, 'stepDown')
      "
      >&lsaquo;</a
    >
    <a
      *ngFor="
        let pageNo of pageinationCountList
          | slice: sliceCountStart:sliceCountEnd
      "
      [ngClass]="{ active: currentPage == pageNo }"
      (click)="getCurrentPage(pageNo)"
      >{{ pageNo }}</a
    >
    <a *ngIf="pageinationCount > 5">...</a>
    <a
      [ngClass]="{ active: currentPage == pageinationCount }"
      (click)="getCurrentPage(pageNo)"
      >{{ pageinationCount }}</a
    >
    <a
      (click)="
        getCurrentPage(
          currentPage + 1 == pageinationCount
            ? pageinationCount
            : currentPage + 1,
          'stepUp'
        )
      "
      >&rsaquo;</a
    >
    <a href="#" (click)="getCurrentPage(pageinationCount, 'last')">&raquo;</a>
  </div>
</div>
