<div class="container">
    <div #selection
    class="dropdown"
    contentEditable="{{config.isAutoComplete}}"
    (focus)="loadListItem()"
    (click)="loadListItem()"
    >
        <ng-container *ngIf="!config.isMulti">{{selectedValue[config.labelBy]}}</ng-container>
        <ng-container *ngIf="config.isMulti">
            <span class="tag" *ngFor="let val of multiSelectedValue">{{val[config.labelBy]}}</span>
        </ng-container>
    </div>
  <div class="dropdown-list" *ngIf="isShowList" #selectionItem>
    <input type="search" #search />
    <ng-container *ngIf="!config.isMulti">
        <div class="dropdown-item" *ngFor="let option of config.data" (click)="selectedItem(option)">{{option[config.labelBy]}}</div>
    </ng-container>
    <ng-container *ngIf="config.isMulti">
        <div class="dropdown-item" *ngFor="let option of config.data"><input type="checkbox" name="{{option[config.labelBy]}}" (change)="selectedCheckBox($event, option)" [checked]="option['isChecked']"/>{{option[config.labelBy]}}</div>
    </ng-container>
  </div>
</div>