<div class="container-fluid">

  <!-- custom Dropdown with multicheck and single check option -->
  <h3>Dropdown with single and multi check</h3>
  <app-custom-dropdown></app-custom-dropdown>
  <!-- custom dropdown end -->

  <!-- Toaster Component -->
  <h3>Toaster</h3>
  <app-toaster-container></app-toaster-container>
  <button (click)="showSuccessToaster()">Success</button>
  <button (click)="showErrorToaster()">Error</button>
  <button (click)="showWarningToaster()">Warning</button>
  <!-- toaster end -->

</div>
